.blogPosts{
    width: 100%;
    .postsWrapper{
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1.3fr 0.7fr
        ;

        >div{
            margin: 0 auto;
        }

        .postsList{
            display: flex;
            height: auto;
            flex-direction: column;
            align-items: flex-start;
        }

        .mostReads{
            width: 100%;
            top: -25px;
        }
    }


}

@media screen and (max-width: 928px){
    .blogPosts{
        .postsWrapper{
            display: flex;
            flex-direction: column;

/*             .mostReads{
                width: 100%; 
                > div{
                    display: flex;
                    justify-content: space-between;
                    
                    
                    .Tilt{
                        width: 32%;
                        a.post{
                            margin-bottom: 0;
                        }
                    }
                }
            } */
        }
    }
}