.blogPosts{
    width: 100%;
    .postsWrapper{
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1.3fr 0.7fr
        ;

        >div{
            margin: 0 auto;
        }
    }


}
