.searchPosts{      
    width: 100vw;
    height: calc(100vh - 70px);
    position: fixed;
    bottom: 0;   
    overflow: auto;    
    padding: 0; 

    main{
        display: flex; 
        pointer-events: initial;
        flex-direction: column;
        padding: 30px; 

        .Tilt{ 
            pointer-events: initial;
            a.post{
                margin-bottom: 0;
                display: flex;
            }
        }
    }

    h1{
        text-align: center;
        color: var(--txt-color);
    }
}   
 
@media (max-width: 947px){
    .searchPosts{
        height: calc(100vh - 110px);
    }
}

@media (max-width: 500px){
    .searchPosts{
        height: calc(100vh - 90px);
    }
}