.blogPostPage{
    background-color: var(--second-bg);
    padding-top: 50px;

    h1.postTitle{ 
        color: var(--txt-color);
        margin: 50px auto;
        text-align: center;
        display: block;
        font-size: 34px;
        width: calc(100% - 40px);
    }

    .postAuthorDate{
        display: flex; 
        padding-left: 20px;
        max-width: 1200px;
        margin: 0 auto;
        height: 30px;
        >div{
            height: 30px;
            display: flex;
            align-items: center;
            &:last-of-type{
                margin-left: 30px;
                display: flex;
                align-items: center;
            }
        }
        
        span, svg{
            color: var(--txt-color);
            display: inline-block;
            align-items: center;
        }

        span.icon{
            height: 20px;
            margin-right: 5px;
        }
    }

    .postPageCover{
        display: flex;
        max-width: 1200px;
        padding: 0px 20px;
        margin: 0 auto;

        img{
            height: 100%;
            max-height: 600px;
            object-fit: cover;
            object-position: bottom;
            width: calc(100vw * 1920 / 1080);
        } 
    }
    
    section.main{  
        padding: 0;
        padding: 80px 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex; 
        justify-content: space-between; 
        position: relative;
        align-items: baseline;



        .postPageContent{
            max-width: 1200px;
            width: 70%;
            padding: 20px 40px;
            background-color: var(--main-bg);
            box-shadow: var(--box-shadow);
            border-radius: 6px;
            user-select: initial !important;
            *{
                color: var(--txt-color);
            }
            h2{
                margin: 10px 0;
            }
            p{
                margin-bottom: 30px;
                text-align: justify;
            }
        }
    
        .backToBlog{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            svg{
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }
}

.main_post{
    .Tilt{
        height: 100%;
        a.post{
            margin-bottom: 0;
            height: 100%;

            .text_wrapper{
                .text.blog_headline{
                    font-size: 25px;
                }
                
                .authorDateContent{
                    .text_content{
                        p:nth-of-type(2){
                            font-size: 14px;
                            -webkit-line-clamp: 4;
                        }
                    }
                }
        
            }
        }
    }
}

.item_list{
    .Tilt{
        margin-bottom: 30px;
        a.post{
            display: flex; 

            .text_wrapper{
                .text.blog_headline{
                    width: 80%;
                }
            }

            .authorDate{
                display: flex;
                font-size: 12px;
                margin-top: 6px;
                margin-bottom: 4px;

                span:first-of-type{
                    margin-right: 3px;
                }
                span:last-of-type{
                    margin-left: 6px;
                }
            }

            > img {
                max-width: 260px;
                width: 35%;
                object-fit: cover;
            }
        }
    } 
} 


@media (max-width: 947px){
    .blogPostPage{
        padding-top: 70px;
    }
}