.blogPostPage {
    background-color: var(--second-bg);
    padding-top: 50px;

    h1.postTitle {
        color: var(--txt-color);
        margin: 50px auto;
        text-align: center;
        display: block;
        font-size: 34px;
        width: calc(100% - 40px);
    }

    .postAuthorDate {
        display: flex;
        padding-left: 20px;
        max-width: 1200px;
        margin: 0 auto;
        height: 30px;

        >div {
            height: 30px;
            display: flex;
            align-items: center;

            &:last-of-type {
                margin-left: 30px;
                display: flex;
                align-items: center;
            }
        }

        span,
        svg {
            color: var(--txt-color);
            display: inline-block;
            align-items: center;
        }

        span.icon {
            height: 20px;
            margin-right: 5px;
        }
    }

    .postPageCover {
        display: flex;
        max-width: 1200px;
        padding: 0px 20px;
        margin: 0 auto;

        img {
            height: 100%;
            max-height: 600px;
            object-fit: cover;
            object-position: bottom;
            width: calc(100vw * 1920 / 1080);
        }
    }

    section.main {
        padding: 0;
        padding: 80px 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;

        .postPageContent {
            max-width: 1200px;
            width: 65%;
            padding: 20px 40px;
            background-color: var(--main-bg);
            box-shadow: var(--box-shadow);
            border-radius: 6px;
            user-select: initial !important;
            position: relative;

            * {
                color: var(--txt-color);
            }

            h2 {
                margin: 10px 0;
            }

            p {
                margin-bottom: 30px;
                text-align: justify;
            }
        }

        .backToBlog {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(200%);

            svg {
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }
}

