.Tilt:has(a.post) {
    max-width: 300px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    overflow: hidden;

    &:last-of-type {
        a.post {
            margin-bottom: 0px;
        }
    }

    &.horizontal {
        max-width: unset;

        a.post {
            display: flex;

            >img {
                max-width: 260px;
                width: 35%;
                object-fit: cover;
            }

            .text_wrapper {
                .authorDate {
                    display: flex;
                }
            }

        }
    }

    a.post {
        .text_wrapper {
            padding: 10px;

            .authorDate {
                display: none;
                font-size: 12px;
                margin-top: 6px;
                margin-bottom: 4px;

                span:first-of-type {
                    margin-right: 3px
                }

                span:last-of-type {
                    margin-left: 6px
                }
            }

            .text.blog_headline {
                font-weight: bold;
                font-size: 16px;
                display: -webkit-box !important;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                border-bottom: 2px solid var(--main-color);
                max-width: 300px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .authorDateContent {
                .text_content {
                    margin-top: 10px;

                    * {
                        display: none;
                    }

                    p:nth-of-type(2) {
                        font-size: 12px;
                        display: -webkit-box !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }

        }

    }
}

.blog-content{
    .main_post{
        .Tilt{
            max-width: unset;
        }
    }
}
