@tailwind base;
@tailwind components;
@tailwind utilities;


.navigation {
  position: fixed;
  top: 100px;
  margin-right: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  transition: width 0.35s, height 0.35s;
  transition-delay: 0s, 0.55s;
  z-index: 99999;
  border-radius: 4px;
  overflow: hidden;
}
.navigation.active {
  width: 250px;
  height: 400px;
  border: 1px solid var(--main-color);
  right: 248px;
  background: none;
}
.navigation .toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-color);
  transition: 0.35s;
  cursor: grab;
}
.navigation .toggle:active {
  cursor: grabbing;
}
.navigation .toggle.active {
  background-color: var(--main-color);
}
.navigation .toggle::before {
  content: "+";
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: white;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
}
.navigation .toggle.active::before {
  transform: rotate(315deg);
  color: white;
}
.navigation ul {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
}
.navigation ul::before {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0.6;
  top: 0;
  background: var(--second-bg);
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
}
.navigation ul li:hover {
  background-color: var(--main-color);
}
.navigation ul li:hover a .icon svg,
.navigation ul li:hover a .title {
  color: white;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  text-decoration: none;
  color: var(--txt-color);
}
.navigation ul li a .icon {
  position: relative;
  min-width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation ul li a .icon svg {
  color: var(--txt-color);
  font-size: 24px;
}
.navigation ul li a .title {
  font-size: 18px;
  position: relative;
  display: block;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
}

/* navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 80px;
  padding: 30px 0px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .logo a {
  color: var(--txt-color);
  font-size: 35px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar .logo a span {
  color: var(--main-color);
  transition: all 0.3s ease;
}
.navbar svg {
  cursor: pointer;
  font-size: 35px;
  color: var(--main-color);
  position: absolute;
  z-index: 10;
}
.navbar .faSearch {
  position: relative;
  z-index: 10;
  left: 10px;
  display: flex;
  align-items: center;
}
.navbar .faSearch svg {
  position: relative;
}
.navbar .faSearch input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin-left: -100%;
  color: white;
  font-size: 17px;
  transition: 0.4s;
  opacity: 0;
}
.navbar .faSearch input::-moz-placeholder {
  color: white;
  font-style: italic;
  font-size: 15px;
}
.navbar .faSearch input::placeholder {
  color: white;
  font-style: italic;
  font-size: 15px;
}
.navbar .faSearch input.active {
  margin-left: 10px;
  opacity: 1;
}
.navbar .faSearch input:focus {
  outline: none;
}
.navbar .faSearch input::-webkit-search-cancel-button {
  cursor: pointer;
}
.navbar .faPalette {
  right: 10px;
}
.navbar.sticky {
  padding: 15px 0px;
  height: 90px;
  background: var(--main-color);
}
.navbar.sticky svg,
.navbar.sticky .logo a span,
.navbar.sticky a {
  color: white;
}
.navbar.defSticky {
  height: 70px;
}
.navbar section .max-width {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 947px) {
  .navbar .faSearch input {
    width: 100vw;
    position: fixed;
    z-index: 10;
    margin-left: 0px !important;
    height: 40px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-bottom-color: var(--txt-color);
    left: 0;
    top: -70px;
    padding: 0 10px;
    color: var(--txt-color);
  }
  .navbar .faSearch input.active {
    top: 70px;
  }
  .navbar .faSearch input::-moz-placeholder {
    color: var(--txt-color);
  }
  .navbar .faSearch input::placeholder {
    color: var(--txt-color);
  }
}
@media (max-width: 500px) {
  .navbar .faSearch input {
    top: -50px;
  }
  .navbar .faSearch input.active {
    top: 50px;
  }
}
/*  import google fonts */
:root {
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --main-color: transparent;
  --second-color: transparent;
  --second-color-soft: transparent;
  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --toggle-mleft-light: 44%;
  --toggle-mright-light: unset;
  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  --toggle-mleft-dark: unset;
  --toggle-mright-dark: 44%;
  --main-color-blue: #349eff;
  --main-color-blue-soft: #349eff0c;
  --second-color-blue: #62b4ff;
  --second-color-soft-blue: #62b4ff0c;
  --main-color-red: #fb0b12;
  --main-color-red-soft: #fb0b120c;
  --second-color-red: #d22746;
  --second-color-soft-red: #ff4a6b0c;
  --main-color-crimson: #dc143c;
  --main-color-crimson-soft: #dc143c0c;
  --second-color-crimson: #c64d65;
  --second-color-soft-crimson: #c64d650c;
  --main-color-cyan: #10d4d2;
  --main-color-cyan-soft: #10d4d20c;
  --second-color-cyan: #2ae9e6;
  --second-color-soft-cyan: #2ae9e60c;
  --main-color-green: #20b042;
  --main-color-green-soft: #20b0420c;
  --second-color-green: #4caf50;
  --second-color-soft-green: #4caf500c;
  --main-color-orange: #fc5214;
  --main-color-orange-soft: #fc52140c;
  --second-color-orange: #fca11a;
  --second-color-soft-orange: #fca11a0c;
  --sidebar-width: 300px;
  --border-radius: 15px;
  --topnav-height: 110px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[theme-mode=theme-mode-light] {
  --main-bg: var(--main-bg-light);
  --second-bg: var(--second-bg-light);
  --txt-color: var(--txt-color-light);
  --box-shadow: var(--box-shadow-light);
  --toggle-mleft: var(--toggle-mleft-light);
  --toggle-mright: var(--toggle-mright-light);
}

[theme-mode=theme-mode-dark] {
  --main-bg: var(--main-bg-dark);
  --second-bg: var(--second-bg-dark);
  --txt-color: var(--txt-color-dark);
  --box-shadow: var(--box-shadow-dark);
  --toggle-mleft: var(--toggle-mleft-dark);
  --toggle-mright: var(--toggle-mright-dark);
}

[theme-color=theme-color-blue] {
  --main-color: var(--main-color-blue);
  --main-color-soft: var(--main-color-blue-soft);
  --second-color: var(--second-color-blue);
  --second-color-soft: var(--second-color-soft-blue);
}

[theme-color=theme-color-red] {
  --main-color: var(--main-color-red);
  --main-color-soft: var(--main-color-red-soft);
  --second-color: var(--second-color-red);
  --second-color-soft: var(--second-color-soft-red);
}

[theme-color=theme-color-crimson] {
  --main-color: var(--main-color-crimson);
  --main-color-soft: var(--main-color-crimson-soft);
  --second-color: var(--second-color-crimson);
  --second-color-soft: var(--second-color-soft-crimson);
}

[theme-color=theme-color-cyan] {
  --main-color: var(--main-color-cyan);
  --main-color-soft: var(--main-color-cyan-soft);
  --second-color: var(--second-color-cyan);
  --second-color-soft: var(--second-color-soft-cyan);
}

[theme-color=theme-color-green] {
  --main-color: var(--main-color-green);
  --main-color-soft: var(--main-color-green-soft);
  --second-color: var(--second-color-green);
  --second-color-soft: var(--second-color-green);
}

[theme-color=theme-color-orange] {
  --main-color: var(--main-color-orange);
  --main-color-soft: var(--main-color-orange-soft);
  --second-color: var(--second-color-orange);
  --second-color-soft: var(--second-color-orange);
}

* {
  margin: 0;
  font-family: "Poppins";
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

.js-tilt-glare {
  border-radius: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: 99;
  position: relative;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-bg);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg);
}

/* all similar content styling codes */
section {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}
section * {
  font-family: "Poppins", sans-serif;
}
section .max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
section .title {
  position: relative;
  text-align: center;
  color: var(--txt-color);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  color: var(--txt-color);
  width: 280px;
  background-color: var(--main-color);
  height: 3px;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  white-space: nowrap;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: var(--txt-color);
  padding: 0 5px;
  transform: translateX(-50%);
}
section:nth-of-type(odd) {
  background-color: var(--second-bg);
}
section:nth-of-type(odd) .title::after {
  background-color: var(--second-bg);
}
section:nth-of-type(odd) .card {
  background-color: var(--main-bg);
}
section:nth-of-type(odd) .card svg {
  color: var(--second-bg);
}
section:nth-of-type(even) {
  background-color: var(--main-bg);
}
section:nth-of-type(even) .title::after {
  background-color: var(--main-bg);
}
section:nth-of-type(even) .card {
  background-color: var(--second-bg);
}
section:nth-of-type(even) .card svg {
  color: var(--main-bg);
}
section .about-content,
section .skills-content,
section .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .card {
  box-shadow: var(--box-shadow);
}
section .text,
section .sub-title,
section svg,
section p,
section a,
section .info span {
  color: var(--txt-color);
}

.fas.fa-angle-up,
.hero-content {
  position: relative;
  z-index: 998;
}

.services .title::after,
.portfolio .title::after {
  background: #111;
  content: "O que faço";
}

.owl-theme .owl-nav,
.owl-dots span {
  display: none !important;
}

.glare-wrapper {
  border-radius: 6px !important;
  z-index: 99;
  opacity: 0.4;
}

/* cards general styles */
section:not(.blog) .card:hover .box a {
  color: var(--main-color);
  background-color: white;
}
section:not(.blog) .card:hover p,
section:not(.blog) .card:hover .text {
  color: white !important;
}
section .card .box a {
  color: white;
  background-color: var(--main-color);
  padding: 7px 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: 20px;
}

.owl-carousel .owl-stage-outer {
  padding: 50px 0;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dots .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--main-color) !important;
  transition: all 0.3s ease;
}
.owl-dots .owl-dot.active, .owl-dots .owl-dot:hover {
  background: var(--main-color) !important;
}
.owl-dots.active {
  width: 35px;
  border-radius: 14px;
}

/* radio player */
.radio_container {
  z-index: 100000;
  width: 70px;
  height: 70px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  position: fixed;
  left: 10px;
  border-radius: 6px;
  bottom: 10px;
  display: flex;
  transition: 0.5s;
}
.radio_container.not_playing {
  width: initial !important;
  min-width: unset !important;
}
.radio_container.not_playing .controls,
.radio_container.not_playing .radio_container_text {
  display: none !important;
}
.radio_container.not_playing .img_play_container,
.radio_container.not_playing .img_play_container img {
  border-radius: 6px !important;
  overflow: hidden;
}
.radio_container.not_playing .playing_icon {
  opacity: 1;
  pointer-events: initial;
  z-index: 100;
  cursor: pointer;
  justify-content: center;
}
.radio_container.not_playing .playing_icon svg {
  font-size: 30px;
  color: var(--main-color);
}
.radio_container.not_playing .playing_icon svg:hover {
  color: white;
}
.radio_container.not_playing .playing_icon .music_waves {
  display: none;
}
.radio_container.not_playing .playing_icon svg {
  display: block;
}
.radio_container:hover .music_waves {
  display: none !important;
  opacity: 0 !important;
}
.radio_container.playing:hover .playing_icon {
  opacity: 0 !important;
  visibility: hidden;
}
.radio_container.playing .playing_icon {
  justify-content: center !important;
  animation: showup 2s ease-in 1 forwards;
  animation-delay: 8s;
  transition: 0.4s;
  pointer-events: none;
  opacity: 0;
}
.radio_container.playing .playing_icon svg {
  display: none;
}
.radio_container.playing .playing_icon .music_waves {
  display: block;
  height: 40px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.radio_container.playing .playing_icon .music_waves .stroke {
  display: block;
  position: relative;
  background-color: var(--main-color);
  height: 100%;
  width: 4px;
  border-radius: 50px;
  margin: 0 3px;
  animation: music_wave 1.8s linear infinite;
}
.radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(1), .radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(7) {
  animation-delay: 0s;
}
.radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(2), .radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(6) {
  animation-delay: 0.3s;
}
.radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(3), .radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(5) {
  animation-delay: 0.6s;
}
.radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(4) {
  animation-delay: 0.9s;
}
.radio_container.playing .playing_icon .music_waves .stroke:nth-of-type(1) {
  animation-delay: 0s;
}
.radio_container.playing .playing_icon .playing_container {
  opacity: 1 !important;
  position: absolute;
  pointer-events: initial !important;
  z-index: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center !important;
}
.radio_container.paused .play_pause svg:first-of-type {
  display: block;
}
.radio_container.paused .play_pause svg:last-of-type {
  display: none;
}
.radio_container.next_song, .radio_container:hover {
  width: auto;
  min-width: 210px;
}
.radio_container.next_song .radio_container_text, .radio_container:hover .radio_container_text {
  margin-left: unset;
  opacity: 1;
}
.radio_container.next_song .radio_container_text {
  opacity: 1;
  margin-left: unset;
}
.radio_container.playing .play_pause svg:last-of-type {
  display: block;
}
.radio_container.playing .play_pause svg:first-of-type {
  display: none;
}
.radio_container .playing_icon {
  display: none;
  max-width: 70px;
}
.radio_container .img_play_container {
  height: 70px;
  min-width: 70px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.radio_container .img_play_container:hover .controls {
  opacity: 1;
  pointer-events: inherit;
}
.radio_container .img_play_container img {
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.radio_container .img_play_container .controls > div {
  display: flex;
  align-items: center;
}
.radio_container .img_play_container .controls svg {
  font-size: 14px;
  color: var(--main-color);
}
.radio_container .img_play_container .controls svg:hover {
  color: white;
}
.radio_container .img_play_container .controls svg:active {
  transform: scale(0.9);
}
.radio_container .img_play_container .controls .play_pause svg {
  font-size: 20px;
}
.radio_container .img_play_container .controls img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--main-bg);
}
.radio_container .playing_icon,
.radio_container .playing_icon,
.radio_container .img_play_container .controls {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.578);
  opacity: 0;
  overflow: hidden;
  border-radius: 6px;
  pointer-events: none;
  transition: 0.5s;
}
.radio_container .playing_icon .controls div,
.radio_container .playing_icon .controls div,
.radio_container .img_play_container .controls .controls div {
  line-height: 25px;
}
.radio_container .playing_icon .controls div.play_pause,
.radio_container .playing_icon .controls div.play_pause,
.radio_container .img_play_container .controls .controls div.play_pause {
  line-height: 5px;
  margin-bottom: -2px;
}
.radio_container .radio_container_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: -100%;
  opacity: 0;
  justify-content: space-evenly;
  overflow: hidden;
}
.radio_container .radio_container_text > p {
  color: var(--txt-color);
  font-size: 12px;
  white-space: nowrap;
}
.radio_container .radio_container_text .song_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  z-index: 1;
}
.radio_container .radio_container_text .song_info .bullet {
  height: 5px;
  width: 5px;
  margin: 0 5px;
  background-color: var(--main-color);
  opacity: 0.5;
  border-radius: 50%;
}
.radio_container .radio_container_text span {
  font-size: 11px;
  color: var(--txt-color);
  white-space: nowrap;
}

/* aside menu colors */
aside.theme-color-menu {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  z-index: 999929;
  transition: 0.3s;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
}
aside.theme-color-menu.active {
  right: 0px;
}
aside.theme-color-menu * {
  color: var(--txt-color);
}
aside.theme-color-menu .menu-top {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside.theme-color-menu .menu-top span {
  color: var(--txt-color);
  cursor: pointer;
  font-size: 40px;
  transform: rotate(45deg);
  font-weight: 300;
}
aside.theme-color-menu .themes-wrapper {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
aside.theme-color-menu .themes-wrapper .themes-top {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
}
aside.theme-color-menu .themes-wrapper .themes-toggle {
  height: 40px;
  width: 70px;
  border-radius: 40px;
  background-color: var(--second-bg);
  border: 3px solid var(--txt-color);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}
aside.theme-color-menu .themes-wrapper .themes-toggle .theme {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
aside.theme-color-menu .themes-wrapper .themes-toggle .theme.light {
  left: 0;
}
aside.theme-color-menu .themes-wrapper .themes-toggle .theme.light {
  right: 0;
}
aside.theme-color-menu .themes-wrapper .themes-toggle .theme svg {
  color: var(--txt-color);
  font-size: 20px;
}
aside.theme-color-menu .themes-wrapper .toggle-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  right: 4px;
  transition: 0.3s ease-in-out;
  background-color: var(--txt-color);
  border-radius: 50%;
  position: absolute;
  margin-right: var(--toggle-mright);
  margin-left: var(--toggle-mleft);
}
aside.theme-color-menu .colors-wrapper {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
aside.theme-color-menu .colors-wrapper .colors-top {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
}
aside.theme-color-menu .colors-wrapper .colors-list {
  height: auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--txt-color);
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer;
}
aside.theme-color-menu .colors-wrapper .colors-list li {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--txt-color);
  margin-top: 10px;
  cursor: pointer;
}
aside.theme-color-menu .colors-wrapper .colors-list li div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
aside.theme-color-menu .colors-wrapper .colors-list li div::after {
  height: 14px;
  width: 7px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
  margin-top: -6px;
}
aside.theme-color-menu .colors-wrapper .colors-list li.active div::after {
  content: "";
}
aside.theme-color-menu .colors-wrapper .colors-list li.cyan div {
  background-color: var(--main-color-cyan);
}
aside.theme-color-menu .colors-wrapper .colors-list li.red div {
  background-color: var(--main-color-red);
}
aside.theme-color-menu .colors-wrapper .colors-list li.orange div {
  background-color: var(--main-color-orange);
}
aside.theme-color-menu .colors-wrapper .colors-list li.blue div {
  background-color: var(--main-color-blue);
}
aside.theme-color-menu .colors-wrapper .colors-list li.green div {
  background-color: var(--main-color-green);
}
aside.theme-color-menu .colors-wrapper .colors-list li.crimson div {
  background-color: var(--main-color-crimson);
}

/* warning message */
.warning {
  position: fixed;
  background-color: var(--main-color);
  height: auto;
  width: 260px;
  padding: 5px;
  border-radius: 6px;
  border-bottom-right-radius: 0px;
  text-align: center;
  bottom: 30px;
  right: 40px;
  z-index: 100;
  transform: rotateY(30deg) translateY(300px) skewY(-30deg);
  opacity: 0;
  box-shadow: var(--box-shadow);
}
.warning.scroll_show {
  right: 100px;
}
.warning::before {
  width: 100%;
  height: 100%;
  content: "Clique no + duas vezes para abrir o menu. Você também pode arrastá-lo";
  text-align: center;
  color: white;
  font-size: 13px;
  transition: 0.7s;
}
.warning .close_warning {
  position: absolute;
  color: var(--main-color);
  right: -5px;
  bottom: 0;
  top: -50px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 30px;
}
.warning.active {
  animation: tilt-in-bottom-1 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes showup {
  100% {
    pointer-events: initial;
    opacity: 1;
    z-index: 9;
  }
}
@keyframes music_wave {
  50% {
    height: 40%;
  }
  100% {
    height: 100%;
  }
}
@keyframes tilt-in-bottom-1 {
  0% {
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    border-color: transparent transparent var(--main-color) transparent;
  }
  50% {
    border-color: transparent transparent var(--txt-color) transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent transparent var(--main-color) transparent;
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(0deg);
    border-color: transparent transparent var(--txt-color) transparent;
  }
  50% {
    border-color: transparent transparent var(--main-color) transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent transparent var(--txt-color) transparent;
  }
}
/* home section styling */
.hero {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: var(--txt-color);
  font-family: "Ubuntu", sans-serif;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.hero .sectionBg {
  position: absolute;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero .max-width {
  margin: auto 0 auto 30px;
}
.hero .particles_container {
  position: absolute;
  width: 300px;
  right: 10%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 300px;
  display: flex;
  align-items: center;
}
.hero .particles_container .particles {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero .particles_container .particles:nth-of-type(2) {
  height: 300px;
  width: 300px;
}
.hero .particles_container .particles:nth-of-type(3) {
  height: 200px;
  width: 200px;
}
.hero .particles_container .particles:nth-of-type(4) {
  height: 100px;
  width: 100px;
}
.hero .particles_container .particles span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: rotate(calc(36deg * var(--i)));
}
.hero .particles_container .particles span:nth-of-type(even) div {
  border-color: transparent transparent var(--main-color) transparent;
  animation: animate 5s linear infinite;
}
.hero .particles_container .particles span:nth-of-type(odd) div {
  border-color: transparent transparent var(--txt-color) transparent;
  animation: animate-reverse 5s linear infinite;
}
.hero .particles_container .particles span div {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 21.7px 12.5px;
  box-sizing: border-box;
  animation-delay: -0.25s;
  transform-origin: 20px;
  transition: 2s;
}
.hero .particles_container:hover .particles span div {
  transform-origin: 250px;
}
.hero .hero-content {
  pointer-events: none;
}
.hero .hero-content .text-1 {
  font-size: 27px;
}
.hero .hero-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.hero .hero-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.hero .hero-content .text-3 span {
  color: var(--main-color);
  font-weight: 500;
}
.hero .hero-content a {
  display: inline-block;
  background: var(--main-color);
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
  pointer-events: initial;
}
.hero .hero-content a:hover {
  color: var(--main-color);
  background: none;
}

/* about section styling */
.about .title::after {
  content: "Quem sou eu";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  min-height: 76px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text .span {
  color: var(--main-color);
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: var(--main-color);
  background: none;
}

/* portfolio section styling */
.portfolio .title::after {
  content: "O que já fiz";
}

.portfolio .portfolio-content .card {
  border-radius: 6px;
  padding: 25px 20px;
  box-sizing: content-box;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  min-height: 410px;
}
.portfolio .portfolio-content .card:hover {
  background: var(--main-color);
}
.portfolio .portfolio-content .card:hover .box {
  transform: scale(1.05);
}
.portfolio .portfolio-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  min-height: 350px;
}
.portfolio .portfolio-content .text {
  font-size: 25px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px 0 7px 0;
  width: 90%;
  min-height: 75px;
  text-align: center;
}
.portfolio .portfolio-content p {
  color: var(--txt-color);
  min-height: 75px;
}
.portfolio .portfolio-content img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 176px;
  transition: all 0.3s ease;
}

/* services section styling */
.services .serv-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.services .serv-content .card {
  min-height: 255px;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-align: center;
  border-radius: 6px;
  height: 100%;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: var(--main-color);
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card:hover svg,
.services .serv-content .card:hover .text,
.services .serv-content .card:hover p {
  color: white;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card svg {
  font-size: 50px;
  color: var(--main-color);
  transition: color 0.3s ease;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.services .serv-content .card p {
  color: var(--txt-color);
}

/* skills section styling */
.skills .title::after {
  content: "Passe o mouse e descubra";
}

.skills .skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  justify-content: center;
}
.skills .skills-content .card {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.skills .skills-content .card svg {
  position: absolute;
  font-size: 60px;
  display: block;
  transform: unset;
  transition: 0.4s;
}
.skills .skills-content .card img {
  max-width: 200px;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.4s;
}
.skills .skills-content .card.vtex img {
  transform: translateY(100%) scale(1.5);
}
.skills .skills-content .card:hover svg {
  transform: translateY(-300%);
}
.skills .skills-content .card:hover img {
  opacity: 1;
  transform: unset;
}
.skills .skills-content .card.vtex:hover img {
  transform: translateY(0) scale(1.5);
}

/* blog section styling */
.blog .title::after {
  content: "(Template)";
}

.blog {
  position: relative;
  padding-bottom: 85px;
}
.blog .blog-content {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  max-width: 1200px;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}
.blog .blog-content .card {
  border-radius: 6px;
  max-height: 680px;
}
.blog .blog-content .card img {
  border-radius: 6px;
}
.blog .blog-content .card .text_content {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.blog .blog-content .card .text_content .text {
  font-size: 19px;
  margin-bottom: 5px;
}
.blog .blog-content .card .text_content .content {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog .blog-content .card .text_content .blog-cta {
  display: flex;
  align-self: flex-end;
  color: white;
  width: 100px;
  height: 35px;
  background-color: var(--main-color);
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 35px;
}
.blog .blog-content .card .text_content .blog-cta a {
  height: 100%;
  width: 100%;
  display: block;
}
.blog .blog-content .veja_tambem {
  overflow: auto;
  padding: 10px;
  padding-bottom: 0px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.blog .blog-content .veja_tambem::-webkit-scrollbar {
  width: 5px;
  z-index: 99;
  position: relative;
}
.blog .blog-content .veja_tambem::-webkit-scrollbar-track {
  background: transparent;
}
.blog .blog-content .veja_tambem::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
.blog .blog-content .veja_tambem::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg);
}
.blog .blog-content .veja_tambem .h4_role {
  color: var(--txt-color);
  font-weight: normal;
  position: absolute;
  transform: translateY(-150%);
}
.blog .blog-content .veja_tambem .cards_container.cards_container_mobile {
  display: none;
}
.blog .blog-content .veja_tambem .cards_container .card {
  margin-bottom: 30px;
}
.blog .blog-content .veja_tambem .cards_container .card:last-of-type {
  margin-bottom: 0;
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .content {
  font-size: 12px;
  -webkit-line-clamp: 2;
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .blog-cta {
  width: 80px;
  height: 26px;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .blog-cta:hover {
  background-color: white;
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .blog-cta:hover a {
  color: var(--main-color);
}
.blog .blog-content .veja_tambem .cards_container .card .text_content .blog-cta a {
  color: white;
  line-height: 26px;
}
.blog .goToBlog {
  position: absolute;
  bottom: 50px;
  text-align: center;
  left: 50%;
  font-size: 17px;
  transform: translateX(-50%) translateY(30%);
  color: white;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--main-color);
}

/* contact section styling */
.contact .title::after {
  content: "Faça contato";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .right {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row svg {
  font-size: 25px;
  color: var(--main-color);
}
.contact .contact-content .row img {
  width: 25px;
}
.contact .contact-content .info .head {
  font-weight: 500;
  color: var(--main-color);
}
.contact .right .fields {
  display: flex;
}
.contact .right .field,
.contact .right .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right .textarea {
  height: 80px;
  width: 100%;
}
.contact .right .name {
  margin-right: 10px;
}
.contact .right .email {
  margin-left: 10px;
}
.contact .right .field input,
.contact .right .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right .field input:focus,
.contact .right .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right .button {
  height: 47px;
  width: 230px;
}
.contact .right .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: white;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right .button button svg {
  color: white;
  font-size: 25px;
  margin-left: 5px;
  position: relative;
  bottom: -5px;
}
.contact .right .button button:hover,
.contact .right .button button:hover svg {
  color: var(--main-color) !important;
  background: none;
}

section.heroSlider {
  width: 100%;
  height: auto;
  padding: 0px;
  position: relative;
}
section.heroSlider .slideItem {
  width: 100vw;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.heroSlider .slideItem .post {
  height: 100%;
  width: 100%;
  position: absolute;
}
section.heroSlider .slideItem .post::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202020;
  opacity: 0.2;
}
section.heroSlider .slideItem .post .text_wrapper {
  position: absolute;
  z-index: 99;
  bottom: 15px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 85%;
  max-width: 1200px;
  padding: 10px;
  color: #fff;
  box-shadow: var(--box-shadow);
  background-color: var(--main-color);
}
section.heroSlider .slideItem .post .text_wrapper .blog_headline {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 95%;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
section.heroSlider .slideItem .post .text_wrapper *:not([class]) {
  display: none;
}
section.heroSlider .slideItem .post .text_wrapper p:nth-of-type(2) {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.075rem;
  opacity: 0.9;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
section.heroSlider .slideItem .post .text_wrapper .cta {
  margin-top: 15px;
  width: 100%;
  text-align: right;
  display: block;
  color: #fff;
}
section.heroSlider .owl-carousel .owl-stage-outer {
  padding: 0px;
}
section.heroSlider .owl-theme .owl-dots {
  position: absolute;
  z-index: 9;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 631px) {
  section.heroSlider .slideItem .post .text_wrapper {
    bottom: 45px;
  }
  section.heroSlider .owl-theme .owl-dots {
    left: 10px;
    right: unset;
  }
}
.blogPosts {
  width: 100%;
}
.blogPosts .postsWrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1.3fr 0.7fr;
}
.blogPosts .postsWrapper > div {
  margin: 0 auto;
}

.blogPostPage {
  background-color: var(--second-bg);
  padding-top: 50px;
}
.blogPostPage h1.postTitle {
  color: var(--txt-color);
  margin: 50px auto;
  text-align: center;
  display: block;
  font-size: 34px;
  width: calc(100% - 40px);
}
.blogPostPage .postAuthorDate {
  display: flex;
  padding-left: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 30px;
}
.blogPostPage .postAuthorDate > div {
  height: 30px;
  display: flex;
  align-items: center;
}
.blogPostPage .postAuthorDate > div:last-of-type {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.blogPostPage .postAuthorDate span,
.blogPostPage .postAuthorDate svg {
  color: var(--txt-color);
  display: inline-block;
  align-items: center;
}
.blogPostPage .postAuthorDate span.icon {
  height: 20px;
  margin-right: 5px;
}
.blogPostPage .postPageCover {
  display: flex;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}
.blogPostPage .postPageCover img {
  height: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 177.7777777778vw;
}
.blogPostPage section.main {
  padding: 0;
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
.blogPostPage section.main .postPageContent {
  max-width: 1200px;
  width: 65%;
  padding: 20px 40px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  -webkit-user-select: initial !important;
     -moz-user-select: initial !important;
          user-select: initial !important;
  position: relative;
}
.blogPostPage section.main .postPageContent * {
  color: var(--txt-color);
}
.blogPostPage section.main .postPageContent h2 {
  margin: 10px 0;
}
.blogPostPage section.main .postPageContent p {
  margin-bottom: 30px;
  text-align: justify;
}
.blogPostPage section.main .backToBlog {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
}
.blogPostPage section.main .backToBlog svg {
  font-size: 24px;
  margin-right: 10px;
}

.postList {
  position: relative;
}
.postList p.postListTitle {
  transform: translateY(-100%);
  color: var(--txt-color);
  position: absolute;
}

.searchPosts {
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
  bottom: 0;
  overflow: auto;
  padding: 0;
}
.searchPosts main {
  display: flex;
  pointer-events: initial;
  flex-direction: column;
  padding: 30px;
}
.searchPosts main .Tilt {
  pointer-events: initial;
}
.searchPosts main .Tilt a.post {
  margin-bottom: 0;
  display: flex;
}
.searchPosts h1 {
  text-align: center;
  color: var(--txt-color);
}

@media (max-width: 947px) {
  .searchPosts {
    height: calc(100vh - 110px);
  }
}
@media (max-width: 500px) {
  .searchPosts {
    height: calc(100vh - 90px);
  }
}
.Tilt:has(a.post) {
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.Tilt:has(a.post):last-of-type a.post {
  margin-bottom: 0px;
}
.Tilt:has(a.post).horizontal {
  max-width: unset;
}
.Tilt:has(a.post).horizontal a.post {
  display: flex;
}
.Tilt:has(a.post).horizontal a.post > img {
  max-width: 260px;
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Tilt:has(a.post).horizontal a.post .text_wrapper .authorDate {
  display: flex;
}
.Tilt:has(a.post) a.post .text_wrapper {
  padding: 10px;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDate {
  display: none;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 4px;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDate span:first-of-type {
  margin-right: 3px;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDate span:last-of-type {
  margin-left: 6px;
}
.Tilt:has(a.post) a.post .text_wrapper .text.blog_headline {
  font-weight: bold;
  font-size: 16px;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  border-bottom: 2px solid var(--main-color);
  max-width: 300px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDateContent .text_content {
  margin-top: 10px;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDateContent .text_content * {
  display: none;
}
.Tilt:has(a.post) a.post .text_wrapper .authorDateContent .text_content p:nth-of-type(2) {
  font-size: 12px;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-content .main_post .Tilt {
  max-width: unset;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .hero .max-width {
    margin-left: 0px;
  }
  .hero .particles_container {
    right: 5%;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 1024px) {
  .hero .particles_container {
    display: none;
  }
}
@media (max-width: 991px) {
  section .max-width {
    padding: 0 50px;
  }
  .blogPostPage section.main {
    flex-direction: column;
    padding-bottom: 125px;
  }
  .blogPostPage section.main .postPageContent {
    width: 100%;
  }
  .blog .blog-content {
    max-height: unset;
    display: flex;
    flex-direction: column;
  }
  .blog .blog-content .veja_tambem {
    margin-top: 50px;
    padding: 0px;
  }
  .blog .blog-content .veja_tambem .owl-stage {
    display: flex;
  }
  .blog .blog-content .veja_tambem .cards_container.cards_container_desktop {
    display: none !important;
  }
  .blog .blog-content .veja_tambem .cards_container.cards_container_mobile {
    display: block !important;
  }
  .blog .blog-content .veja_tambem .cards_container .card,
  .blog .blog-content .veja_tambem .cards_container .owl-item {
    margin: 0px 20px;
  }
  .blog .blog-content .veja_tambem .cards_container .card:first-of-type,
  .blog .blog-content .veja_tambem .cards_container .owl-item:first-of-type {
    margin-left: 0;
  }
  .blog .blog-content .veja_tambem .cards_container .card:last-of-type,
  .blog .blog-content .veja_tambem .cards_container .owl-item:last-of-type {
    margin-right: 0;
  }
  .blog .blog-content .veja_tambem .cards_container .card .text_content .text,
  .blog .blog-content .veja_tambem .cards_container .owl-item .text_content .text {
    min-height: 42px;
  }
  .blog .blog-content .veja_tambem .cards_container .card.cloned:last-of-type,
  .blog .blog-content .veja_tambem .cards_container .owl-item.cloned:last-of-type {
    position: absolute;
  }
  .Tilt a.post {
    margin-bottom: 0;
  }
  .blogPostPage section.main .postPageContent {
    margin-bottom: 100px;
  }
  .blogPosts .postsWrapper {
    display: flex;
    flex-direction: column;
  }
  .Tilt.horizontalResponsive {
    max-width: unset !important;
  }
  .Tilt.horizontalResponsive a.post {
    display: flex !important;
  }
  .Tilt.horizontalResponsive a.post > img {
    max-width: 260px;
    width: 35%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: none;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu lsvg {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .owl-carousel .owl-stage-outer {
    padding: 0px;
  }
  .hero .hero-content .text-2 {
    font-size: 70px;
  }
  .hero .hero-content .text-3 {
    font-size: 35px;
  }
  .hero .hero-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  section .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .services .serv-content .card .text {
    min-height: 80px;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .skills .skills-content .card:hover img,
  .skills .skills-content .card.vtex:hover img {
    transform: translateY(0) scale(0.8);
  }
  .skills .skills-content .card img {
    transform: translateY(100%) scale(0.8);
  }
  .skills .skills-content .card.vtex:hover img {
    transform: scale(1);
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .blogPostPage {
    padding-top: 70px;
  }
}
@media (max-width: 800px) {
  .portfolio .portfolio-content .card .text {
    font-size: 18px;
  }
  .skills .title::after {
    content: "No que programo";
  }
  .skills .skills-content {
    grid-template-columns: 1fr 1fr;
  }
  .skills .skills-content .card img {
    width: 80%;
    opacity: 1;
    transform: scale(0.8);
  }
  .skills .skills-content .card {
    max-height: 200px;
    min-height: 200px;
  }
  .skills .skills-content .card svg {
    display: none;
  }
  .skills .skills-content .card.vtex img {
    transform: scale(1.2);
  }
}
@media (max-width: 740px) {
  .Tilt {
    pointer-events: none;
  }
  .Tilt a.post {
    pointer-events: initial;
  }
  .services .serv-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .blogPostPage h1.postTitle {
    font-size: 27px;
  }
  .blogPostPage section.main .postPageContent {
    padding: 20px 20px;
  }
  .blogPostPage section.main .postPageContent h2 {
    font-size: 20px;
  }
  .blogPostPage section.main .postPageContent p {
    font-size: 13px;
  }
}
@media (max-width: 690px) {
  .hero .particles_container {
    transform: translateY(-50%) translateX(-50%) scale(0.5);
  }
  section .max-width {
    padding: 0 23px;
  }
  .hero .hero-content .text-2 {
    font-size: 60px;
  }
  .hero .hero-content .text-3 {
    font-size: 32px;
    min-height: 120px;
  }
  .hero .hero-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
  .about .about-content .left img {
    width: 310px;
    height: 310px;
  }
  .skills .skills-content .card {
    min-height: 200px;
    max-height: 200px;
    padding: 10px 5px;
  }
}
@media (max-width: 542px) {
  .blogPostPage section.main h1 {
    font-size: 25px;
  }
  .blogPostPage section.main .postPageContent h2 {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .warning {
    bottom: 30px;
    right: 30px;
  }
  section .title {
    font-size: 30px;
  }
  .warning.scroll_show {
    right: 30px;
    bottom: 90px;
  }
  .warning::before {
    content: "Toque no + duas vezes para abrir o menu";
  }
  .navbar.sticky {
    height: 55px;
  }
  .navbar .logo a {
    font-size: 22px;
  }
  .navbar svg {
    font-size: 25px;
  }
  .hero .hero-content .text-2 {
    font-size: 50px;
  }
  .hero .hero-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
@media (max-width: 400px) {
  .blogPostPage h1.postTitle {
    font-size: 22px;
  }
}
.certificates {
  overflow-x: hidden;
}
.certificates .certificates-content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.certificates .certificates-content .certificate {
  height: auto;
  border-radius: 0px;
  max-width: 300px;
  height: auto;
}
.certificates .certificates-content .certificate .Tilt {
  height: 100%;
  cursor: pointer;
}
.certificates .certificates-content .certificate .Tilt img {
  width: 100%;
  height: 100%;
}
.certificates .certificates-content .certificate .Tilt .glare-wrapper {
  border-radius: 0px !important;
}

.certificates .title::after {
  content: "O que já conquistei";
}

.certificatesOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.616);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.certificatesOverlay.active {
  display: flex;
}
.certificatesOverlay > .Tilt {
  width: 90%;
  max-width: 750px;
  max-height: 535px;
  pointer-events: initial !important;
}
.certificatesOverlay > .Tilt * {
  border-radius: 0 !important;
}
.certificatesOverlay > .Tilt img {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.certificatesOverlay .overlayNav {
  width: 90%;
  max-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.certificatesOverlay .overlayNav svg {
  color: var(--main-color);
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.4s;
}
.certificatesOverlay .overlayNav svg:hover {
  color: white;
}

@media (max-width: 928px) {
  .certificates .certificates-content .certificate {
    max-width: 250px;
  }
}
@media (max-width: 633px) {
  .certificates .certificates-content {
    flex-wrap: nowrap;
    width: 2700px;
    justify-content: flex-start;
    animation: slideCertificates 160s linear infinite forwards;
  }
  @keyframes slideCertificates {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: -3000px;
    }
    100% {
      margin-left: 0px;
    }
  }
  .certificates .certificates-content .certificate {
    max-width: unset;
    min-width: 300px;
    pointer-events: initial;
    cursor: pointer;
  }
}
@media (max-width: 478px) {
  .certificates .certificates-content {
    flex-wrap: nowrap;
    width: 1800px;
  }
  .certificates .certificates-content .certificate {
    min-width: 200px;
  }
  @keyframes slideCertificates {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: -2000px;
    }
    100% {
      margin-left: 0px;
    }
  }
}/*# sourceMappingURL=globals.css.map */