@import 'components/navigation';
@import 'components/navbar';
@import 'components/general';
@import 'components/radio_container';
@import 'components/theme_color_menu';
@import 'components/warning';
@import 'components/keyframes';
@import 'components/hero'; 
@import 'components/about';  
@import 'components/services';
@import 'components/skills';
@import 'components/portfolio'; 
@import 'components/blog';
@import 'components/contact';
@import 'components/mediaqueries';
@import 'components/blogPage/heroSlider';
@import 'components/blogPage/blogPosts';

.blogPostPage{
    .postPageCover{
        display: flex;
        img{
            height: 100%;
            width: 100%;
        }
    }
    
    section.main{
        padding: 0;
        background-color: var(--second-bg);
        padding: 20px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
            color: var(--txt-color);
            margin: 0 auto;
            text-align: center;
        }
        .postPageContent{
            margin: 0 auto;
            max-width: 1200px;
            padding: 20px 40px;
            background-color: var(--main-bg);
            box-shadow: var(--box-shadow);
            border-radius: 6px;
            user-select: initial !important;
            *{
                color: var(--txt-color);
            }
            h2{
                margin: 10px 0;
            }
            p{
                margin-bottom: 30px;
            }
        }
    
        .backToBlog{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100px;

            svg{
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }
}

 

